.choice {
  position: relative;
  min-height: 685px;
  background-image: url(img/section2_wrapper.png);
  @extend %background;
  &__title {
    @include font($font-Aleo, $weight400, $f-z36);
    @include lspsn-clr(0.1vw, white);
    @include t-l(29%, 18%);
    position: absolute;
  }
  &__subtitle {
    @include font($font-Josefin, $weight400, $f-z16);
    @include lspsn-clr(0.05vw, white);
    @include t-l(42%, 18%);
    position: absolute;
    width: 28%;
    line-height: 1.5vw;
    text-align: justify;
  }
  &__text {
    @include font($font-Josefin, $weight400, $f-z16);
    @include lspsn-clr(0.05vw, white);
    @include t-l(58%, 18%);
    position: absolute;
    width: 28%;
    line-height: 1.5vw;
    text-align: justify;
  }
  &__button {
    background: linear-gradient(
      55deg,
      #496bfe 0%,
      #496bfe 35%,
      #5474fd 35%,
      #5474fd 100%
    );
    bottom: none;
    @include font($font-Aleo, $weight400, $f-z16);
    @include lspsn-clr(0.1vw, white);
    @include t-l(73%, 18%);
    text-transform: uppercase;
    height: 3vw;
    width: 12%;
    position: absolute;
    z-index: 1;
    border: none;
    &:hover {
      transition: 2s;
      background: linear-gradient(45deg, #005bea, #00c6fb);
    }
  }
  &__imgblock {
    @include t-l(15%, 55%);
    width: 35%;
    height: 66%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: absolute;
    &:hover {
      animation: img 0.5s;
    }
  }
  @keyframes img {
    0% {
      left: 55%;
    }
    50% {
      left: 57%;
    }
    100% {
      left: 55%;
    }
  }
  &__gallery1 {
    padding-right: 30%;
  }
  &__gallery2 {
    padding-left: 30%;
  }
}
@media (max-width: 1060px) {
  .choice__gallery1 {
    padding-right: 0%;
  }

  .choice__gallery2 {
    padding-left: 0%;
  }
  .choice__title {
    @include t-l(15%, 5%);
  }
  .choice__text {
    @include t-l(20%, 5%);
  }
  .choice__subtitle {
    @include t-l(30%, 5%);
  }
  .choice__button {
    @include t-l(55%, 5%);
    width: 20%;
    height: 6vw;
  }
  .choice__imgblock:hover {
    animation: none;
  }
}
@media (max-width: 850px) {
  .choice__title {
    @include t-l(10%, 5%);
  }
  .choice__text {
    @include t-l(30%, 5%);
    width: 40%;
    letter-spacing: 0.15vw;
    line-height: 2.5vw;
  }
  .choice__subtitle {
    @include t-l(15%, 5%);
    width: 40%;
    letter-spacing: 0.15vw;
    line-height: 2.5vw;
  }
  .choice__button {
    @include t-l(55%, 5%);
    width: 25%;
    height: 7vw;
  }
}
@media (max-width: 500px) {
  .choice__imgblock {
    @include t-l(2%, 14%);
    width: 73%;
  }
  .choice__title {
    @include t-l(71%, 33%);
  }
  .choice__subtitle {
    @include t-l(75%, 14%);
    width: 73%;
  }
  .choice__text {
    @include t-l(85%, 14%);
    width: 73%;
  }
  .choice__button {
    @include t-l(91%, 24%);
    width: 50%;
    height: 10vw;
  }
}
@media (max-width: 420px) {
  .choice__imgblock {
    width: 90%;
    left: 4.5%;
  }
  .choice__title {
    @include t-l(68%, 33%);
  }
  .choice__subtitle {
    @include t-l(73%, 4.5%);
    width: 90%;
    line-height: 3.5vw;
  }
  .choice__text {
    @include t-l(82%, 4.5%);
    width: 90%;
    line-height: 3.5vw;
  }
  .choice__button {
    @include t-l(89%, 20%);
    width: 60%;
    height: 12vw;
  }
}
